[submodule "core"]
	path = core
	url = https://github.com/mt-caret/core
[submodule "ppx_sexp_conv"]
	path = ppx_sexp_conv
	url = https://github.com/mt-caret/ppx_sexp_conv
[submodule "core_kernel"]
	path = core_kernel
	url = https://github.com/janestreet/core_kernel
[submodule "jst-config"]
	path = jst-config
	url = https://github.com/janestreet/jst-config
[submodule "ppx_jane"]
	path = ppx_jane
	url = https://github.com/janestreet/ppx_jane
[submodule "sexplib"]
	path = sexplib
	url = https://github.com/janestreet/sexplib
[submodule "sexplib0"]
	path = sexplib0
	url = https://github.com/janestreet/sexplib0
[submodule "spawn"]
	path = spawn
	url = https://github.com/janestreet/spawn
[submodule "timezone"]
	path = timezone
	url = https://github.com/janestreet/timezone
[submodule "ppx_assert"]
	path = ppx_assert
	url = https://github.com/janestreet/ppx_assert
[submodule "ppxlib"]
	path = ppxlib
	url = https://github.com/ocaml-ppx/ppxlib
[submodule "ppx_derivers"]
	path = ppx_derivers
	url = https://github.com/ocaml-ppx/ppx_derivers
[submodule "ppx_stable"]
	path = ppx_stable
	url = https://github.com/janestreet/ppx_stable
[submodule "ppx_compare"]
	path = ppx_compare
	url = https://github.com/janestreet/ppx_compare
[submodule "base_quickcheck"]
	path = base_quickcheck
	url = https://github.com/janestreet/base_quickcheck
[submodule "ppx_here"]
	path = ppx_here
	url = https://github.com/janestreet/ppx_here
[submodule "ppx_expect"]
	path = ppx_expect
	url = https://github.com/janestreet/ppx_expect
[submodule "base"]
	path = base
	url = https://github.com/janestreet/base
[submodule "ppx_variants_conv"]
	path = ppx_variants_conv
	url = https://github.com/janestreet/ppx_variants_conv
[submodule "ppx_typerep_conv"]
	path = ppx_typerep_conv
	url = https://github.com/janestreet/ppx_typerep_conv
[submodule "ppx_string"]
	path = ppx_string
	url = https://github.com/janestreet/ppx_string
[submodule "ppx_sexp_value"]
	path = ppx_sexp_value
	url = https://github.com/janestreet/ppx_sexp_value
[submodule "ppx_sexp_message"]
	path = ppx_sexp_message
	url = https://github.com/janestreet/ppx_sexp_message
[submodule "ppx_pipebang"]
	path = ppx_pipebang
	url = https://github.com/janestreet/ppx_pipebang
[submodule "base_bigstring"]
	path = base_bigstring
	url = https://github.com/janestreet/base_bigstring
[submodule "bin_prot"]
	path = bin_prot
	url = https://github.com/janestreet/bin_prot
[submodule "fieldslib"]
	path = fieldslib
	url = https://github.com/janestreet/fieldslib
[submodule "jane-street-headers"]
	path = jane-street-headers
	url = https://github.com/janestreet/jane-street-headers
[submodule "parsexp"]
	path = parsexp
	url = https://github.com/janestreet/parsexp
[submodule "ppx_base"]
	path = ppx_base
	url = https://github.com/janestreet/ppx_base
[submodule "ppx_bench"]
	path = ppx_bench
	url = https://github.com/janestreet/ppx_bench
[submodule "ppx_bin_prot"]
	path = ppx_bin_prot
	url = https://github.com/janestreet/ppx_bin_prot
[submodule "ppx_cold"]
	path = ppx_cold
	url = https://github.com/janestreet/ppx_cold
[submodule "ppx_custom_printf"]
	path = ppx_custom_printf
	url = https://github.com/janestreet/ppx_custom_printf
[submodule "ppx_disable_unused_warnings"]
	path = ppx_disable_unused_warnings
	url = https://github.com/janestreet/ppx_disable_unused_warnings
[submodule "ppx_fields_conv"]
	path = ppx_fields_conv
	url = https://github.com/janestreet/ppx_fields_conv
[submodule "ppx_fixed_literal"]
	path = ppx_fixed_literal
	url = https://github.com/janestreet/ppx_fixed_literal
[submodule "ppx_hash"]
	path = ppx_hash
	url = https://github.com/janestreet/ppx_hash
[submodule "ppx_inline_test"]
	path = ppx_inline_test
	url = https://github.com/janestreet/ppx_inline_test
[submodule "ppx_let"]
	path = ppx_let
	url = https://github.com/janestreet/ppx_let
[submodule "ppx_module_timer"]
	path = ppx_module_timer
	url = https://github.com/janestreet/ppx_module_timer
[submodule "ppx_optcomp"]
	path = ppx_optcomp
	url = https://github.com/janestreet/ppx_optcomp
[submodule "ppx_optional"]
	path = ppx_optional
	url = https://github.com/janestreet/ppx_optional
[submodule "splittable_random"]
	path = splittable_random
	url = https://github.com/janestreet/splittable_random
[submodule "stdio"]
	path = stdio
	url = https://github.com/janestreet/stdio
[submodule "time_now"]
	path = time_now
	url = https://github.com/janestreet/time_now
[submodule "typerep"]
	path = typerep
	url = https://github.com/janestreet/typerep
[submodule "variantslib"]
	path = variantslib
	url = https://github.com/janestreet/variantslib
[submodule "ppx_enumerate"]
	path = ppx_enumerate
	url = https://github.com/janestreet/ppx_enumerate
[submodule "ppx_js_style"]
	path = ppx_js_style
	url = https://github.com/janestreet/ppx_js_style
[submodule "async"]
	path = async
	url = https://github.com/mt-caret/async
[submodule "async_kernel"]
	path = async_kernel
	url = https://github.com/janestreet/async_kernel
[submodule "textutils"]
	path = textutils
	url = https://github.com/janestreet/textutils
[submodule "async_unix"]
	path = async_unix
	url = https://github.com/mt-caret/async_unix
[submodule "async_rpc_kernel"]
	path = async_rpc_kernel
	url = https://github.com/janestreet/async_rpc_kernel
[submodule "protocol_version_header"]
	path = protocol_version_header
	url = https://github.com/janestreet/protocol_version_header
